REACT_APP_DUMMY_FIELD=Adding Dummy Field
REACT_APP_API_URL=Server Domain
REACT_APP_ESTIMATED_REFRESH_TOKEN_TO_LOAD=Refresh Token Time Before to load time in milliseconds
REACT_APP_AUTH_DOMAIN=Keycloak Domain
REACT_APP_AUTH_REALM_NAME=keycloak realm Name
REACT_APP_AUTH_CLIENTID=keycloak client id