.login {
  background:linear-gradient(to left, green, white);
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:white;

  .container{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
  }

  .logo {
    font-size: 90px;
  }
}

.input-icons {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  svg {
    font-size: 25px;
  }
}


.form-box{
    width:380px;
    height:480px;
    background-color:black;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    opacity: 0.5;
    border-radius:2%;
}
.header-form{
  margin-bottom:15px;
}
.login-button{
  margin-top:20px;
  margin-bottom:20px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}
.message{
  display:flex;
  justify-content:space-between
}
.social{
  display:flex;
  justify-content:space-around;
  padding:30px;
}

.social svg{
  font-size:35px;
  color: white;
}

.social svg:hover{
  color:#0F3575 !important;
  cursor:pointer;
}